/* CUSTOM STYLES */
.olControlOverviewMapElement {
    border-radius: 10px 0px 0px 10px;
    opacity: 0.75;
}

.olControlLayerSwitcher .layersDiv {
    border-radius: 10px 0px 0px 10px;
    opacity: 0.75;
}
.olControlLayerSwitcher .layersDiv input.olButton {
    float: left;
    margin: 4px 0 4px 0;
}
.olControlLayerSwitcher .layersDiv label {
    color: #fff;
    padding: 4px;
}

/* Panel */
.olControlPanel {
    position: relative;
    margin-left: 50px;
}

.olControlPanel button {
    position: relative;
    display: block;
    margin: 2px;
    border: 1px solid;
    padding: 0 3px;
    border-radius: 4px;
    height: 35px;
    background-color: white;
    float: left;
    overflow: visible; /* needed to remove padding from buttons in IE */
}
.olControlPanel button span {
    padding-left: 25px;
}
.olControlPanel button span:first-child {
    padding-left: 0;
    display: block;
    position: absolute;
    left: 2px;
}
.olControlPanel .moveButtonItemActive span:first-child { 
    background-image:  url('../js/OpenLayers-2.13.1/theme/default/img/move_feature_on.png');
    height: 22px;
    width: 24px;
    top: 5px;
}
.olControlPanel .moveButtonItemInactive span:first-child { 
    background-image: url('../js/OpenLayers-2.13.1/theme/default/img/move_feature_off.png');
    height: 22px;
    width: 24px;
    top: 5px;
}
.olControlPanel .drawPointItemActive span:first-child { 
    background-image:  url('../js/OpenLayers-2.13.1/theme/default/img/draw_point_on.png');
    height: 22px;
    width: 24px;
    top: 5px;
}
.olControlPanel .drawPointItemInactive span:first-child { 
    background-image: url('../js/OpenLayers-2.13.1/theme/default/img/draw_point_off.png');
    height: 22px;
    width: 24px;
    top: 5px;
}
.olControlPanel .drawPolygonItemActive span:first-child { 
    background-image:  url('../js/OpenLayers-2.13.1/theme/default/img/draw_polygon_on.png');
    height: 22px;
    width: 24px;
    top: 5px;
}
.olControlPanel .drawPolygonItemInactive span:first-child { 
    background-image: url('../js/OpenLayers-2.13.1/theme/default/img/draw_polygon_off.png');
    height: 22px;
    width: 24px;
    top: 5px;
}
.olControlPanel .olControlDrawFeatureItemActive span:first-child { 
    background-image:  url('../js/OpenLayers-2.13.1/theme/default/img/draw_line_on.png');
    height: 22px;
    width: 24px;
    top: 5px;
}
.olControlPanel .olControlDrawFeatureItemInactive span:first-child { 
    background-image: url('../js/OpenLayers-2.13.1/theme/default/img/draw_line_off.png');
    height: 22px;
    width: 24px;
    top: 5px;
}
.olControlPanel .olControlMeasureItemActive span:first-child { 
    background-image:  url('../js/OpenLayers-2.13.1/theme/default/img/draw_line_on.png');
    height: 22px;
    width: 24px;
    top: 5px;
}
.olControlPanel .olControlMeasureItemInactive span:first-child { 
    background-image: url('../js/OpenLayers-2.13.1/theme/default/img/draw_line_off.png');
    height: 22px;
    width: 24px;
    top: 5px;
}
/* CUSTOM STYLES END */
